{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
</head>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">AnyPost</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
    </div>
  </div>

  <div class="card p-4 m-4 shadow-xl">
    <input type="text" placeholder="Your awesome title here" class="input input-bordered w-full max-w-xs"/>
    <div class="py-2"></div>
    <textarea class="textarea textarea-bordered" placeholder="And write something"></textarea>
  </div>

  <div class="m-4">
    {% for post in posts %}
  <div class="card w-96 bg-primary text-primary-content">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p>{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
  </div>

  
</body>

</html>
